{% extends "base.html" %}

{% block title %}{% endblock %}

{% block sidebar %}
  <!-- <div class="msb" id="msb"> -->
    <div class="msb" id="msb">
      <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <div class="row" style="margin-left: 0; margin-right: 0">
            <a class="navbar-left" href="https://portal/Pages/default.aspx" style="padding: 5px 5px;">
              <img src="{{ url_for('static', filename='images/logo_pgk.png') }}" height="40px" position="center"></a>
            <a class="navbar-right" style="padding: 5px 5px; margin-right: 10px; margin-top: 10px; font-size: 15px; color: black" height="40px"> СЕРВИС УВА</a>
          </div>
        </div>

        <!-- Вертикальное меню side-menu-container-->
        <div class="side-menu-container">
          <ul class="nav navbar-nav">
              <!-- Cписок дэшей -->
              <li><a href="/limit_oper"><i class="fa fa-dashboard"></i>Дебиторская задолженность</a></li>
              <li><a href="/dashapp1"><i class="fa fa-dashboard"></i>Недостача запчастей</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>  
    </div>
{% endblock %}

{% block content %}{% endblock %}