{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/slidebar_dash.css')}}">

  <link rel="stylesheet" type= "text/css" href= "https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" /> 
  <!-- Для работы DataTable -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  <!-- <link rel="stylesheet" type= "text/css" href= "https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" /> -->
  
  <!-- Для кнопок экспорта в DataTable -->
  <link rel="stylesheet" type= "text/css" href= "https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css" />
  <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script src="https://cdn.datatables.net/plug-ins/1.11.0/dataRender/ellipsis.js"></script>
{% endblock %}

{% block navbar_header %}
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <i class="ic fa fa-bars"></i>
    </button>
    <div style="padding: 15px 0;">
      <a href="#" id="msbo"><i class="ic fa fa-bars"></i></a>
    </div>
  </div>  
{% endblock%}

{% block title %}{% endblock %}

{% block sidebar %}
  <!-- <div class="msb" id="msb"> -->
    <div class="msb" id="msb">
      <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <div class="row" style="margin-left: 0; margin-right: 0">
            <a class="navbar-left" href="https://pgk1/mainpage/" style="padding: 5px 5px;">
              <img src="{{ url_for('static', filename='images/logo_pgk.png') }}" height="40px" position="center"></a>
            <a class="navbar-right" href = "/index" style="padding: 5px 5px; margin-right: 10px; margin-top: 10px; font-size: 13px; color: black" height="40px"> СЕРВИС УВА</a>
          </div>
        </div>

        <!-- Вертикальное меню side-menu-container-->
        <div class="side-menu-container">
          <ul class="nav navbar-nav">
              <!-- Cписок дэшей -->
              {% if current_user.check_report_roles('glossary') %}
              <li><a href="/glossary"><i class="fa fa-dashboard"></i>Словарь терминов</a></li>
              {% endif %}
              
              <li><a href="/IssueTrack_instruction"><i class="fa fa-dashboard"></i>Инструкция по работе с мероприятиями</a></li>
              
              {% if current_user.check_dash_roles('risks') %}
              <li><a href="/risks_dash"><i class="fa fa-dashboard"></i>Дашборд по рискам</a></li>
              {% endif %}
              
              {% if current_user.check_dash_roles('dashapp13') %}
              <li><a href="/credit_risks_dash"><i class="fa fa-dashboard"></i>Кредитные риски</a></li>
              {% endif %}
              
              <!-- {% if current_user.check_report_roles('reports') %}
              <li><a href="/reports/"><i class="fa fa-dashboard"></i>Отчеты</a></li>
              {% endif %} -->
              {% if current_user.check_dash_roles('limit_oper') %}
                <li><a href="/limit_oper"><i class="fa fa-dashboard"></i>Дебиторская задолженность</a></li>
              {% endif %}
              {% if current_user.check_dash_roles('dashapp1') %}
              <li><a href="/dashapp1"><i class="fa fa-dashboard"></i>Недостача запчастей</a></li>
              {% endif %}
              {% if current_user.check_dash_roles('dashboard3') %}
              <li><a href="/dashboard3"><i class="fa fa-dashboard"></i>Полномочия в SAP</a></li>
              {% endif %}
              {% if current_user.check_report_roles('repair0') %}
              <li><a href="/repairs/repair0"><i class="fa fa-dashboard"></i>Реестр ремонтов</a></li>
              {% endif %}
              {% if current_user.check_report_roles('repair1') %}
              <li><a href="/repairs/repair1"><i class="fa fa-dashboard"></i>Некачественные ТОР</a></li>
              {% endif %}
              {% if current_user.check_report_roles('repair2') %}
              <li><a href="/repairs/repair2"><i class="fa fa-dashboard"></i>Некачественные ДР и КР</a></li>
              {% endif %}
              {% if current_user.check_report_roles('repair7') %}             
              <li><a href="/repairs/repair7"><i class="fa fa-dashboard"></i>Двойное создание заказов ТОРО</a></li>
              {% endif %}
              {% if current_user.check_report_roles('repair11') %}    
              <li><a href="/repairs/repair11"><i class="fa fa-dashboard"></i>Не выполненные вовремя плановые ремонты</a></li>
              {% endif %}
              {% if current_user.check_report_roles('report1') %}                  
              <li><a href="/report1"><i class="fa fa-dashboard"></i>Детали в статусе ДОСТ</a></li>
              {% endif %}
              {% if current_user.check_report_roles('report_equipment') %}  
              <li><a href="/report_equipment"><i class="fa fa-dashboard"></i>Запчасти</a></li>
              {% endif %}
              {% if current_user.check_report_roles('report_resellers') %}  
              <li><a href="/resellers"><i class="fa fa-dashboard"></i>Посредники (отчет)</a></li>
              {% endif %}
              {% if current_user.check_dash_roles('resellers') %}  
              <li><a href="/resellers_dash"><i class="fa fa-dashboard"></i>Посредники (дашборд)</a></li>
              {% endif %}
              {% if current_user.check_dash_roles('resellers_commerce') %}  
              <li><a href="/resellers_dash_commerce"><i class="fa fa-dashboard"></i>Посредники (дашборд) вариант2</a></li>
              {% endif %}
              {% if current_user.check_dash_roles('monitoring') %}  
              <li><a href="/monitoring_dash"><i class="fa fa-dashboard"></i>Мониторинг</a></li>
              {% endif %}
              {% if current_user.check_dash_roles('repairs') %}  
              <li><a href="/repairs_dash"><i class="fa fa-dashboard"></i>Ремонты (дашборд)</a></li>
              {% endif %}
              {% if current_user.check_dash_roles('empty_transportations') %}  
              <li><a href="/empty_transportations_dash"><i class="fa fa-dashboard"></i>Порожние рейсы (дашборд)</a></li>
              {% endif %}
              {% if current_user.check_dash_roles('nagon') %}
              <li><a href="dashboards/nagon_dash"><i class="fa fa-dashboard"></i>Дашборд по нагону</a></li>
              {% endif %}
              {% if current_user.check_report_roles('admin') %}
                <li><a href="https://uvapgk.atlassian.net/jira/projects"><i class="fa fa-dashboard"></i>Jira</a></li>
              {% endif %}
              {% if current_user.check_report_roles('admin') %}
                <li><a href="https://gitlab.pgkweb.ru/"><i class="fa fa-dashboard"></i>Gitlab</a></li>
              {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>  
    </div>
{% endblock %}

{% block content %}{% endblock %}

{% block slidebar_scripts %}
  <script id="rendered-js">
    (function(){
      $('#msbo').on('click', function(){
        // $("#mnb").removeAttr("style");
        // $("#msb").removeAttr("style");
        // $("#mcw").removeAttr("style");
        $('body').toggleClass('msb-x');
      });
    }());
  </script>
    <!-- Автоматическая высота под высоту документа вычетаем верхний бар -->
  <script>
    (function($){
        $(document).ready(function(){
            $('iframe').height( $(window).height() - 64+"px");
            $(window).resize(function(){
                $('iframe').height($(this).height());
            });
        });
    })(jQuery);
  </script>
{% endblock %}