{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/slidebar_dash.css')}}">

  <!-- <link rel="stylesheet" type= "text/css" href= "https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />  -->
  <!-- Для работы DataTable -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" type= "text/css" href= "https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />
  
  <!-- Для кнопок экспорта в DataTable -->
  <link rel="stylesheet" type= "text/css" href= "https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css" />
  <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
{% endblock %}

{% block navbar_header %}
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <i class="ic fa fa-bars"></i>
    </button>
    <div style="padding: 15px 0;">
      <a href="#" id="msbo"><i class="ic fa fa-bars"></i></a>
    </div>
  </div>  
{% endblock%}

{% block title %}{% endblock %}

{% block sidebar %}
  <!-- <div class="msb" id="msb"> -->
    <div class="msb" id="msb">
      <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <div class="row" style="margin-left: 0; margin-right: 0">
            <a class="navbar-left" href="https://portal/Pages/default.aspx" style="padding: 5px 5px;">
              <img src="{{ url_for('static', filename='images/logo_pgk.png') }}" height="40px" position="center"></a>
            <a class="navbar-right" style="padding: 5px 5px; margin-right: 10px; margin-top: 10px; font-size: 15px; color: black" height="40px"> СЕРВИС УВА</a>
          </div>
        </div>

        <!-- Вертикальное меню side-menu-container-->
        <div class="side-menu-container">
          <ul class="nav navbar-nav">
              <!-- Cписок дэшей -->
              <li><a href="/reports/"><i class="fa fa-dashboard"></i>Отчеты</a></li>
              <li><a href="/limit_oper"><i class="fa fa-dashboard"></i>Дебиторская задолженность</a></li>
              <li><a href="/dashapp1"><i class="fa fa-dashboard"></i>Недостача запчастей</a></li>
              <li><a href="/dashboard3"><i class="fa fa-dashboard"></i>Полномочия в SAP</a></li>
              <li><a href="/report1"><i class="fa fa-dashboard"></i>Детали в статусе ДОСТ</a></li>
              <li><a href="/report_equipment"><i class="fa fa-dashboard"></i>Запчасти</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>  
    </div>
{% endblock %}

{% block content %}{% endblock %}

{% block slidebar_scripts %}
  <script id="rendered-js">
    (function(){
      $('#msbo').on('click', function(){
        // $("#mnb").removeAttr("style");
        // $("#msb").removeAttr("style");
        // $("#mcw").removeAttr("style");
        $('body').toggleClass('msb-x');
      });
    }());
  </script>
    <!-- Автоматическая высота под высоту документа вычетаем верхний бар -->
  <script>
    (function($){
        $(document).ready(function(){
            $('iframe').height( $(window).height() - 64+"px");
            $(window).resize(function(){
                $('iframe').height($(this).height());
            });
        });
    })(jQuery);
  </script>

   <!-- <script>
      ;(function($){
          $(document).ready(function(){
              $('iframe').width( $(window).width() - 241+"px");
              $(window).resize(function(){
                  $('iframe').width($(this).width());
              });
          });
      })(jQuery);
    </script> -->
{% endblock %}