<!-- examples https://freefrontend.com/bootstrap-sidebars/ -->
<!doctype html>
<html>

  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Уточнить почему не подключается css -->
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/main.css')}}">
    <!-- Настройке Dash Plotly -->
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/dash.css')}}">
  </head>

  <!-- <body> -->
  <body>
    <nav class="mnb navbar navbar-default navbar-fixed-top" id="mnb">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <i class="ic fa fa-bars"></i>
          </button>
          <div style="padding: 15px 0;">
            <a href="#" id="msbo"><i class="ic fa fa-bars"></i></a>
          </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left" style="font-size: 15px;">
            <li><a href="/" style="color: #bc4e4e;">СЕРВИС УВА</a></li>
            {% block title %}{% endblock %}
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <!--msb: main sidebar-->
      <!-- <div class="msb" id="msb"> -->
      <div class="msb" id="msb">
        <nav class="navbar navbar-default" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <div class="row" style="margin-left: 0; margin-right: 0">
              <a class="navbar-left" href="https://portal/Pages/default.aspx" style="padding: 10px 5px;">
                <img src="{{ url_for('static', filename='images/logo_pgk.png') }}" height="45px" position="center"></a>
            </div>
          </div>

          <!-- Вертикальное меню side-menu-container-->
          <div class="side-menu-container">
            <ul class="nav navbar-nav">
                <!-- Cписок дэшей -->
                <li><a href="/limit_oper"><i class="fa fa-dashboard"></i> Дебиторская задолженность</a></li>
                <li><a href="#"><i class="fa fa-dashboard"></i> Оборотно-сальдовая ведомость</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </nav>  
      </div>

      <!--main content wrapper-->
      <div class="mcw" id="mcw">
        <div class = "cv">
          <!-- Основной контент, втч. встройка Dashboards -->
            {% block content %}{% endblock %}
        </div>
      </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script id="rendered-js">
      (function(){
        $('#msbo').on('click', function(){
          // $("#mnb").removeAttr("style");
          // $("#msb").removeAttr("style");
          // $("#mcw").removeAttr("style");
          $('body').toggleClass('msb-x');
        });
      }());
    </script>
    <!-- Автоматическая высота под высоту документа вычетаем верхний бар -->
    <script>
      ;(function($){
          $(document).ready(function(){
              $('iframe').height( $(window).height() - 64+"px");
              $(window).resize(function(){
                  $('iframe').height($(this).height());
              });
          });
      })(jQuery);
    </script>
  </body>
</html>