<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="container push-top date_range_elements" id="download_employee_spend_button">
        <div class="col-sm-12 text-center">
          <!-- <button id="download-report-button" class="btn ga-enabled" data-ga-event="clicked_spend_details_dashboard" data-ga-category="Reporting" data-ga-label="Downloaded spend details from Dashboard" role="button" style="margin: auto;" type="button" name="report_type" value="details">
            Скачать отчет (xlsx)
          </button> -->
          <button id="download-report-button">Выгрузить</button>
        </div>
    </div>
</body>
<footer>
  <script src='/static/js/test_2.js'></script>
</footer>
</html>