{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/user.css')}}">
{% endblock %}

{% block title %}
    <div class="row" style="margin-left: 0; margin-right: 0">
        <li>    
            <a class="navbar-left" href="https://portal/Pages/default.aspx" style="padding: 5px 5px;">
            <img src="{{ url_for('static', filename='images/logo_pgk.png') }}" height="40px" position="center"></a>
            <a class="navbar-right" style="padding: 5px 5px; margin-right: 10px; margin-top: 10px; font-size: 15px; color: black" height="40px"> СЕРВИС УВА</a>
        </li>
        <!-- <li position = "center"><a style = "padding-top: 15px; color:#bc4e4e;">   Создание нового пользователя</a></li>     -->
    </div>
{% endblock %}

{% block content %}

    <div class="form_user">
        <form action="" method="post">

            {{ form.csrf_token() }}
            <h3> Редактирование пользователя</h3>
            <hr>
            {{ form.password.label() }}
            <div class = "form-group">
                {{ form.password(class_="form-control", placeholder = form.password.description, value = 'Обновить')}}
            </div>
            {{ form.password_confirmation.label() }}
            <div class = "form-group">
                {{ form.password_confirmation(class_="form-control", placeholder = form.password_confirmation.description, value = 'Обновить')}}
            </div>
            <div class = "row">
                <div class = "form-group">
                    {{ form.submit(class_="form-control", placeholder = form.submit.description, value = 'Обновить')}}
                </div>
                <div class = "form-group" style = "position: absolute; right: 0px;">
                    {{ form.cancel(class_="form-control", placeholder = form.cancel.description, value = 'Отмена')}}
                </div>
            </div>
        </form>
    </div>
{% endblock %}