{% extends "blank.html" %}

{% block css %}
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/signin.css')}}">
{% endblock %}

{% block content %}
    <form class = "form-signin" method="post" action="">
        <img class="mb-4" src="{{ url_for('static', filename='images/logo_pgk.png') }}" height="72px"> 
        <h1 class="h3 mb-3 font-weight-normal" style = "margin-bottom: 16px;">Войдите в свой аккаунт</h1>
            <div class="box">
                <form>
                    {{ form.hidden_tag() }}
                    <input id="inputEmail" class="form-control" type="text" name="ldap_account" placeholder="Введите доменный аккаунт" required autofocus>
                    <input id="inputPassword" class="form-control" type="password" name="password" placeholder="Введите пароль">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" style ="background-image: linear-gradient(to bottom,#e31c2b,#c20c13);">Войти</button>
                    <p class="mt-5 mb-3 text-muted" style ="margin-top: 30px;">Аналитическая система УВА. 2021</p>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div>
                                    <p><font color ="red">{{ message }}</font></p>
                                </div>
                            {% endfor %}
                        {% endif %}                   
                    {% endwith %}    
                </form>   
            </div>
        </div>
    </form>        
{% endblock %}