{% extends "blank.html" %}

{% block css %}
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/signin.css')}}">
{% endblock %}

{% block content %}
    <form class = "form-signin" method="post" action="">
        <img class="mb-4" src="{{ url_for('static', filename='images/logo_pgk.png') }}" height="72px"> 
        <h1 class="h3 mb-3 font-weight-normal" style = "margin-bottom: 16px;">Войдите в свой аккаунт</h1>
            <div class="box">
                <form>
                    {{ form.hidden_tag() }}
                    <!-- <p>{{form.email}}</p>
                    <p>{{form.password}}</p> -->
                    <input id="inputEmail" class="form-control" type="email" name="email" placeholder="Введите адрес электронной почты" required autofocus>
                    <input id="inputPassword" class="form-control" type="password" name="password" placeholder="Введите пароль">
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="remember_me" value='Запомнить пароль'>
                            Запомнить пароль
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
                    <!-- <p>{{ form.submit() }}</p> -->
                    <p class="mt-5 mb-3 text-muted" style ="margin-top: 30px;">Аналитическая система УВА. 2021</p>
                </form>   
            </div>
        </div>
    </form>        
{% endblock %}