{% extends "base_sidebar_dash.html" %}


{% block content %}
    <Div id="dt" style="margin:20px; margin-top:70px">
        <div class="container">
            <div class="header">
              <h3 class="text-muted">Create a pretty table</h3>
            </div>
      
            <div>
              <p>Number of rows</p>
              <input type="text" size="5" name="a" value="2">
              <p>Number of columns</p>
              <input type="text" size="5" name="b" value="4">
      
              <p><a href="javascript:void();" id="calculate">get a pretty table</a></p>
               <p>Result</p>
              <p>Number of elements:</p>
                <span id="elements">Hallo</span><br>
                <table id="a_nice_table">Here should be a table</table>
            </div>
        </div>
        <h1>Список номерных запчастей</h1>
        <table id="report_equipment" class="display" style="margin-left:0px" > 
            <thead>
                <tr>
                    <th>ЕО</th>
                    <th>Описание</th>
                    <th>Дата создания</th>
                    <th>Создал</th>
                    <th>Тип детали</th>
                    <th>Вид объекта</th>
                    <th>Материал</th>
                    <th>Вид материала</th>
                    <th>Группа материалов</th>
                    <th>статус</th>
                    <th>Вагон</th>
                    <th>Дата последней операции</th>
                </tr>
            </thead>
            <tbody>
                {% for row in items %}
                    <tr>
                        <td>{{row.equnr}}</td>
                        <td>{{row.eqktx}}</td>
                        <td>{{row.erdat}}</td>
                        <td>{{row.ernam}}</td>
                        <td>{{row.typtx}}</td>
                        <td>{{row.eartx}}</td>
                        <td>{{row.maktx}}</td>
                        <td>{{row.mtbez}}</td>
                        <td>{{row.wgbez}}</td>
                        <td>{{row.status}}</td>
                        <td>{{row.hequi}}</td>
                        <td>{{row.last_oper_date}}</td>
                    </tr>
                {% endfor %}
            </tbody>
            
        </table>
        <script type="text/javascript">
            $(document).ready(function() {
              var table = null;
              $('a#calculate').bind('click', function() {
                $.getJSON('/_get_table', {
                  a: $('input[name="a"]').val(),
                  b: $('input[name="b"]').val()
                }, function(data) {
                  $("#elements").text(data.number_elements);
                  if (table !== null) {
                    table.destroy();
                    table = null;
                    $("#a_nice_table").empty();
                  }
                  $("#mytablediv").html(data.my_table);
                  table = $("#a_nice_table").DataTable();
                });
                return false;
              });
            });
          </script>
    </Div>
{% endblock %}